.image-1 {
  background-image: url(./images/img1.jpg);
}

.image-2 {
  background-image: url(./images/img2.jpg);
}

.image-3 {
  background-image: url(./images/img3.jpg);
}

.image-1,
.image-2,
.image-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed; /* this makes the background fixed while everything else scrolls */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

span {
  background-color: grey;
  color: white;
  padding: 20px;
  font-size: 25px;
}
